<?xml version="1.0"?>
<config>
    <modules>
        <Chandan_Chandanpayment>
            <version>1.0.0</version>
        </Chandan_Chandanpayment>
    </modules>
    <frontend>
        <routers>
            <chandanpayment>
                <use>standard</use>
                <args>
                    <module>Chandan_Chandanpayment</module>
                    <frontName>chandanpayment</frontName>
                </args>
            </chandanpayment>
        </routers>
        <layout>
            <updates>
                <chandanpayment>
                    <file>chandanpayment.xml</file>
                </chandanpayment>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<chandanpayment>
				<use>admin</use>
				<args>
					<module>Chandan_Chandanpayment</module>
					<frontName>chandanpayment</frontName>
				</args>
			</chandanpayment>
        </routers>
    </admin>
    <adminhtml>
		
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<Chandan_Chandanpayment>
							<title>Chandanpayment Module</title>
							<sort_order>10</sort_order>
						</Chandan_Chandanpayment>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<chandanpayment>
					<file>chandanpayment.xml</file>
				</chandanpayment>
			</updates>
		</layout>
    </adminhtml> 	
    <global>
	
	<blocks>
		<adminhtml>
			<rewrite>
				<sales_order_grid>Chandan_Chandanpayment_Block_Adminhtml_Order_Grid</sales_order_grid>
			</rewrite>
		</adminhtml>
	</blocks>
        <models>
            <chandanpayment>
                <class>Chandan_Chandanpayment_Model</class>
                <resourceModel>chandanpayment_mysql4</resourceModel>
            </chandanpayment>
            <chandanpayment_mysql4>
                <class>Chandan_Chandanpayment_Model_Mysql4</class>
                <entities>
                    <chandanpayment>
                        <table>chandanpayment</table>
                    </chandanpayment>
                </entities>
            </chandanpayment_mysql4>
        </models>
        <resources>
            <chandanpayment_setup>
                <setup>
                    <module>Chandan_Chandanpayment</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </chandanpayment_setup>
            <chandanpayment_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </chandanpayment_write>
            <chandanpayment_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </chandanpayment_read>
        </resources>
        <blocks>
            <chandanpayment>
                <class>Chandan_Chandanpayment_Block</class>
            </chandanpayment>
        </blocks>
        <helpers>
            <chandanpayment>
                <class>Chandan_Chandanpayment_Helper</class>
            </chandanpayment>
        </helpers>
    </global>
    
     <default>
        <payment>
            <chandanpayment>
                <active>1</active>
                <model>chandanpayment/chandanpayment</model>
                <order_status>processing</order_status>
                <title>Chandan Payment Method</title>
            </chandanpayment>
         </payment>
    </default>
    
</config>
